# {{ ansible_managed }} — DO NOT COMMIT
# Managed by Ansible backend role

APP_ENV={{ environment }}
APP_PORT={{ backend_container_port }}
DATABASE_HOST={{ backend_env_vars.DATABASE_HOST }}
DATABASE_PORT={{ backend_env_vars.DATABASE_PORT }}
DATABASE_NAME={{ backend_env_vars.DATABASE_NAME }}
DATABASE_USERNAME={{ backend_env_vars.DATABASE_USERNAME }}
DATABASE_PASSWORD={{ backend_env_vars.DATABASE_PASSWORD }}
SECRET_KEY={{ backend_env_vars.SECRET_KEY }}
